
* {
    margin: 0;
    padding: 0;
}

#image-preview img {
    width: 130px;
    height: 100px;
}

.image-container {
    position: relative;
    margin-right: 5px;
}

.remove-image {
    position: absolute;
    top: 0;
    right: 0;
    background-color: wheat;
    cursor: pointer;
}

.apply {
    border: 2px solid orange !important;
    border-radius: 20px ;
    color: orange !important;
    background-color: white !important;
}
#smallpos {
    position: absolute;
    top: 5px;
    right: 5px;
}
#toast-container > .toast-success {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==) !important;
    background-color: #00d68f;
}
.displayat{
    display:none;
}