.banactive .page-link {
    background-color: orange !important;
    color: white !important
}

.page-item .disabled {
    background-color: lightgrey !important;
    color: white !important;
}

.borderbottom {
    border-bottom: solid 3.5px #333333;
    padding-bottom: 13.5px;
}